# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vscode
.vscode

# gradle
/build
.gradle

# minecraft run folders
eclipse
run
run-data
mcmodsrepo

# data generator cache
src/generated/**/.cache

# os
.DS_Store
Thumbs.db

# logs written by the data generator at the repository root
/logs

# python
__pycache__/
